# Dependencies
node_modules/
/dist

# Playwright reports and outputs
playwright-report/
test-results/
playwright/.cache/

# Local database file
app/database.sqlite

# System and editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment configuration
.env

# Allure reports and outputs
allure-results/
allure-report/
